
<footer>
    <div>
        <div>
            Hayden Siebers <span id="year"></span>
        </div>
        
        <div>
            <img src="src/icons/mail-icon.svg" alt="Email" class="icon">
            <span>siebersh@msu.edu</span>
        </div>
    </div>

    <div>
        <img src="src/icons/hs-semaphore-white-icon.svg" class="icon">
        <a href="https://pugwash.org/1955/07/09/statement-manifesto/" target="_blank" rel="noopener noreferrer">
            <img src="src/icons/peace-icon.svg" class="icon">
        </a>    
    </div>
    
</footer>