
<footer>
    <div>
        <div>
            Hayden Siebers <span id="year"></span>
        </div>
        
        <div class="horizontalAlways">
            <div class="icon currentColorIcon" style="--icon-src: url('../../src/icons/mail-icon.svg')"></div>
            <a href="mailto:siebersh@msu.edu">siebersh@msu.edu</a>
        </div>
    </div>

    <div class="horizontalAlways">

        <a href="https://pugwash.org/1955/07/09/statement-manifesto/" target="_blank" rel="noopener noreferrer">
            <div class="icon currentColorIcon" style="--icon-src: url('../../src/icons/peace-icon.svg')"></div>
        </a>   

            <div class="icon currentColorIcon" style="--icon-src: url('../../src/icons/peace-icon.svg')"></div>
        </a>   

    </div>
    
</footer>