:root {
    --black: #000;
    --white: #fff;
    --color-primary: hsl(102, 53%, 93%);
    --color-secondary:#18453B;
    --color-tertiary: hsl(160, 80%, 20%);
    --color-accent: hsl(40, 80%, 20%);

    --font-body: "Helvetica", sans-serif;
    --font-heading: "Verdana", serif;

    --font-size-base: 14px;
    --font-size-heading: 2em;

    --padding-base: 1rem;
    --padding-section: 1rem;
    }

body {
    font-family: var(--font-body);
    font-size: var(--font-size-base);
    padding: var(--padding-base);
}

h1, h2, h3 {
    font-family: var(--font-heading);
    margin-bottom: var(--padding-base);
}

section {
    padding: var(--padding-section);
}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    width: 100%; height: 2*var(--font-size-base);
    background: var(--color-primary); color: var(--color-secondary);
    font-size: var(--font-size-heading);
    padding-top: calc(2*var(--padding-base));
    padding-bottom: calc(2*var(--padding-base));
    padding-left: 10rem;
    padding-right: 10rem;
  
    display: flex; align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 10;
    border-bottom: 2px solid var(--color-secondary);
}

header nav {
    display: flex;
    align-items: center;
}

header > nav > a {
    font-size: var(--font-size-base);
    font-family: var(--font-body);
    color: var(--color-secondary);
    text-decoration: none;
    margin-right: 1rem;
}

footer {
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
    background: var(--color-secondary);
    color: var(--color-primary);
    text-align: left;
    font-size: 0.8em;
    font-family: var(--font-body);
    padding: var(--padding-base);
}

footer .contact {
  margin-top: 2px;
  display: flex;
  align-items: center;
}

footer .contact .icon {
  margin-right: 6px;
  font-size: 1.4em;
  align-items: center;
}


/* Responsive header for small screens */
@media (max-width: 600px) {
  header {
    min-height: 60px;
    font-size: 1.2em;
    padding: 0 1rem;
  }
}